################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vcxproj.user
*.graph

/.idea
/.vs
/cmake-build-*
/libraries/
/packages/
/libivhd/cmake-build-*/
/libivhd/Intermediate/
/libivhd_test/cmake-build-*/
/libivhd_test/Intermediate/
/QtEditor/cmake-build-*/
/QtEditor/Intermediate/