[submodule "ivhd/libraries/glm"]
	path = ivhd/libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "ivhd/libivhd_tests/googletest"]
	path = ivhd/libivhd_tests/googletest
	url = https://github.com/google/googletest.git
