[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libivhd_tests/googletest"]
	path = libivhd_tests/googletest
	url = https://github.com/google/googletest.git
