################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ivhd/v16
/ivhd/.vs/ivhd/v16
/ivhd/output/
/ivhd/libivhd/Intermediate
/ivhd/libivhd_tests/Intermediate
/ivhd/QtEditor/Intermediate
/ivhd/QtEditor/GeneratedFiles
/ivhd/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1
