[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libviskit_tests/googletest"]
	path = libviskit_tests/googletest
	url = https://github.com/google/googletest
